/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body Styles */
body {
    font-family: 'Courier New', Courier, monospace;
    background-color: #0d0d0d;
    color: #e6e6e6;
    margin: 0;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

/* Links */
a {
    color: #999999;
    text-decoration: none;
    transition: color 0.3s ease;
}

a:hover {
    color: #141212;
}

a.register-link {
    display: inline-block;
    background-color: #4d4d4d;
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 30px;
    text-transform: uppercase;
    font-weight: 600;
    margin-top: 1em;
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.2s ease;
}

a.register-link:hover {
    background-color: #333333;
    transform: translateY(-2px);
}

/* Container */
.container {
    width: 90%;
    max-width: 1200px;
    margin: 20px auto;
    padding: 30px;
    background-color: #1a1a1a;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.1);
    position: relative;
}

/* Address and Balance */
.address-balance {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.address-container {
    flex: 1;
    min-width: 50%;
}

.qr-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 20px;
}

.address {
    color: #999999;
    font-size: 2em;
    margin-bottom: 20px;
}

.balance {
    font-size: 4em;
    font-weight: bold;
    color: #ffffff;
}

/* Headings */
h1, h2 {
    font-family: 'Courier New', Courier, monospace;
    font-weight: 700;
    color: #b3b3b3;
    text-align: left;
    margin-bottom: 20px;
}

/* Forms */
form {
    margin: 20px 0;
    width: 100%;
}

label {
    display: block;
    margin-bottom: 10px;
    color: #999999;
}

input[type="text"], input[type="password"], input[type="submit"], button, select {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    outline: none;
    background-color: #262626;
    color: #e6e6e6;
}

input[type="text"]::placeholder, input[type="password"]::placeholder {
    color: #666666;
}

/* Buttons */
input[type="submit"], button, input[type="button"] {
    margin-top: 1em;
    background-color: #333333;
    color: #e6e6e6;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.2s ease;
    padding: 12px 20px;
    text-transform: uppercase;
    font-weight: 600;
    border-radius: 30px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

input[type="submit"]:hover, button:hover, input[type="button"]:hover {
    background-color: #4d4d4d;
    transform: translateY(-2px);
}

/* Fee Rate Container */
.fee-rate-container {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-top: 10px;
}

.fee-rate-container label {
    margin: 0;
    white-space: nowrap;
}

#selfcustody-feeRate {
    flex: 1;
}

.transaction-button {
    padding: 8px 15px;
    font-size: 0.875rem;
    border-radius: 20px;
    background-color: #4d4d4d;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.2s ease;
    text-transform: uppercase;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.transaction-button:hover {
    background-color: #333333;
    transform: translateY(-2px);
}

/* Collapsible Button */
.collapsible {
    background-color: #4d4d4d;
    color: #ffffff;
    cursor: pointer;
    padding: 10px;
    width: 100%;
    text-align: left;
    font-size: 15px;
    border-radius: 10px;
    margin: 10px 0;
    transition: background-color 0.3s ease;
}

.collapsible:hover {
    background-color: #333333;
}

.collapsible:after {
    content: '\002B';
    color: #ffffff;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2212";
}

/* Collapsible Content */
.content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #262626;
    border-radius: 10px;
    margin-bottom: 10px;
    color: #e6e6e6;
}

/* Style for UTXO Data */
#unspentTx {
    padding: 20px;
    background-color: #1a1a1a;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
    color: #e6e6e6;
    font-size: 16px;
}

/* Pagination Controls */
.pagination-controls {
    text-align: center;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    gap: 5px;
}

.pagination-controls button {
    padding: 5px 10px;
    background-color: #ccc;
    color: #333;
    border-radius: 3px;
    cursor: pointer;
    filter: grayscale(100%);
    transition: background-color 0.3s ease, filter 0.3s ease;
}

.pagination-controls button:hover {
    background-color: #bbb;
    filter: grayscale(0%);
}

.pagination-controls button:disabled {
    background-color: #f0f0f0;
    cursor: not-allowed;
    filter: grayscale(100%);
}

/* Placeholder Item */
.placeholder-item {
    height: 140px;
    visibility: hidden;
}

/* Show Secrets Button */
.top-right-buttons {
    position: absolute;
    top: 20px;
    right: 20px;
}

#show-secrets-button {
    background-color: #4d4d4d;
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 30px;
    font-weight: 600;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.2s ease;
    text-transform: uppercase;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#show-secrets-button:hover {
    background-color: #333333;
    transform: translateY(-2px);
}

/* QR Code Modal Styles */
.qr-modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 80%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8); /* Dim background */
}

.qr-modal-content {
    background-color: #1a1a1a;
    margin: 10% auto; /* Center the modal */
    padding: 20px;
    border: 1px solid #888;
    width: 90%;
    max-width: 400px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    color: #fff;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center; /* Center the content horizontally */
    justify-content: center; /* Center the content vertically */
}

.qr-modal-content img {
    width: 300px; /* Set desired width for QR code */
    height: 300px; /* Set desired height for QR code */
    object-fit: contain;
    margin-bottom: 20px; /* Add some space below the image if needed */
}

/* Secrets Modal Styles */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
}

/* Modal content styling */
.modal-content {
    background-color: #1a1a1a;
    margin: 10% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 90%;
    max-width: 700px; /* Wider modal */
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    position: relative;
    text-align: center;
    color: #fff;
}

.modal-content img {
    max-width: 100%;
    height: auto;
}

.close {
    color: #fff;
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* Truncated text with ellipses in the middle */
.truncated-text {
    display: inline-block;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    direction: ltr;
    text-align: center;
    cursor: pointer;
}

/* Modal Button Styling */
.modal-button {
    background-color: #333333;
    color: #e6e6e6;
    padding: 12px 20px;
    border-radius: 30px;
    font-weight: 600;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.2s ease;
    text-transform: uppercase;
    margin: 10px;
}

.modal-button:hover {
    background-color: #4d4d4d;
    transform: translateY(-2px);
}

/* QR Code Styles */
.qr-container img {
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

.qr-container img:hover {
    transform: scale(1.1);
}

#qrModalContent{
    width:30em;
}

/* Sign Out Button */
#sign-out-button {
    position: absolute;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    background-color: #ff4444;
    color: white;
    border: none;
    border-radius: 50%;
    font-size: 20px;
    text-align: center;
    line-height: 50px;
    cursor: pointer;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.4);
    transition: background-color 0.3s ease, box-shadow 0.3s ease, transform 0.2s ease;
}

#sign-out-button:hover {
    background-color: #ff2222;
    transform: translateY(-3px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

#sign-out-button:active {
    background-color: #dd0000;
    transform: translateY(2px);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
}

/* Responsive Design */
@media (max-width: 768px) {
    .container {
        padding: 20px;
    }
    .address-balance {
        flex-direction: column;
        align-items: center;
    }
    .address-container {
        text-align: center;
    }
    .balance {
        font-size: 2.5em;
        margin-top: 1em;
    }
    .address {
        margin-bottom: 1em;
    }
    .qr-container {
        margin-right: 0;
        margin-top: 1em;
        justify-content: center;
    }
    .qr-container img {
        width: 200px;
        height: auto;
    }
    #sign-out-button {
        width: 40px;
        height: 40px;
        font-size: 16px;
        line-height: 40px;
    }
}
